.promo {
  padding: 30px 0;
}
.promo__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.promo__content {
  padding-right: 65px;
}
.promo__title {
}
.promo__text {
}
.link-button {
}
.ico {
}
.ico__play {
}
.link-button__text {
}
.promo__buttons>* {
  margin-right: 44px;
}